/* 自定义字体 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
#site-title {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

* {
    transform: translate3d(0, 0, 0);
}

a.article-title {
    font-family: 'Poppins', sans-serif;
}
    

/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 页脚文字样式 */
#footer-wrap {
    position: relative;
    padding: 2rem 1rem;
    color: #393232;
    text-align: center;
}

/* copyright style */
.copyright {
    color: #f06292;
}

/* */

/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #ec2869;
}

/* 页面指示器样式 */
#pagination .page-number.current {
    background: #ea487f;
    color: var(--white);
    cursor: -webkit-grab;
}

/* Github Follow me */
#aside-content .card-info #card-info-btn {
    display: block;
    margin-top: 0.7rem;
    background-color: #1d2225;
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
}

/* 顶部导航栏 */
#nav a {
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(4 4 4 / 76%);
}

#page-header #site-title, #page-header #site-subtitle, #page-header #scroll-down .scroll-down-effects {
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(4 4 4 / 76%);
    line-height: 1.6;
}

/*页脚a标签字体颜色*/
#footer-wrap a {
    color: #f16a88;
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
.footer_custom_text {
    color: #f16a88;
}


/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
    #aside_content div:not(:last-child) {
        display: none;
        font-size: 13px;
    }
}


/*修改颜色值*/
/*最近文章卡片*/
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    /* background:#FFFFFB; */
    backdrop-filter: blur(24px);
    background: #ffffffb8;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 20%);
   
    -webkit-transform: translateZ(0);
  }
  
  #aside-content .card-widget {
    /* background: #FFFFFB */
    backdrop-filter: blur(24px);
    background: #ffffffb8;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 20%);
   
    -webkit-transform: translateZ(0);
  }
  
  #post,#page,#archive,#tag,#category{
    /* background: #FFFFFB */
    backdrop-filter: blur(24px);
    background: #ffffffb8;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 20%);
   
    -webkit-transform: translateZ(0);
  }
  
  /*修改代码下拉箭头颜色  */
  .fa-angle-double-down:before {
      color: white;
  }

#sidebar-menus {
    /* background: #FFFFFB; */
    backdrop-filter: blur(24px);
    background: #ffffffb8;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 20%);
   
    -webkit-transform: translateZ(0);
}

#recent-posts >.recent-post-item {
    height: 18em;
}

p {
    font-size: 16px;
}

#page-header #site-title {
    margin: 0;
    color: #ededed;
}

.avatar-img img {
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.55, 0.99);
    transition-delay: 0s;
    object-fit: cover;
}

#article-container.post-content h1 {
    padding-left: 0px;
}

#article-container.post-content h1:before {
    display: none;
}

#article-container.post-content h1:hover {
    padding-left: 0px;
}


#article-container.post-content h2 {
    padding-left: 0px;
}

#article-container.post-content h2:before {
    display: none;
}

#article-container.post-content h2:hover {
    padding-left: 0px;
}


#article-container.post-content h3 {
    padding-left: 0px;
}

#article-container.post-content h3:before {
    display: none;
}

#article-container.post-content h3:hover {
    padding-left: 0px;
}


#article-container.post-content h4 {
    padding-left: 0px;
}

#article-container.post-content h4:before {
    display: none;
}

#article-container.post-content h4:hover {
    padding-left: 0px;
}


#article-container.post-content h5 {
    padding-left: 0px;
}

#article-container.post-content h5:before {
    display: none;
}

#article-container.post-content h5:hover {
    padding-left: 0px;
}


#article-container.post-content h6 {
    padding-left: 0px;
}

#article-container.post-content h6:before {
    display: none;
}

#article-container.post-content h6:hover {
    padding-left: 0px;
}


/* nav-fixed glass */
#page-header.nav-fixed #nav {
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    background-color: rgba(255,255,255,0.4);
   
    -webkit-transform: translateZ(0);
}

#page-header.nav-fixed #nav a, #page-header.nav-fixed #nav #site-name, #page-header.nav-fixed #nav #toggle-menu{
    color: #0b0b0b;
    text-shadow: rgba(0, 0, 0, 0.664);
}

#aside-content .aside-list > .aside-list-item .thumbnail {
    /* border-radius: 8px; */
    display: none;
}

#aside-content .card-info #card-info-btn {
    border-radius: 20px;
}

.button--animated:before {
    /* border-radius: 20px; */
    display: none;
}

.avatar-img {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 20%);
}

.avatar-img img:hover {
    transform: none;
}

#aside-content .card-info .author-info__name {
    margin-bottom: 0.1rem;
}

#aside-content .card-info .card-info-social-icons{
    margin-bottom: 1.5rem;
}

/* gray */
html {
    filter: grayscale(85%) saturate(80%);
    -webkit-filter: grayscale(85%) saturate(80%);
    -moz-filter: grayscale(85%) saturate(80%);
    -ms-filter: grayscale(85%) saturate(80%);
    -o-filter: grayscale(85%) saturate(80%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=.85);
    -webkit-filter: grayscale(.85) saturate(.8);
}