/* 自定义字体 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
#site-title {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

a.article-title {
    font-family: 'Poppins', sans-serif;
}
    

/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 页脚文字样式 */
#footer-wrap {
    position: relative;
    padding: 2rem 1rem;
    color: #393232;
    text-align: center;
}

/* copyright style */
.copyright {
    color: #f06292;
}

/* */

/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #ec2869;
}

/* 页面指示器样式 */
#pagination .page-number.current {
    background: #ea487f;
    color: var(--white);
    cursor: -webkit-grab;
}

/* Github Follow me */
#aside-content .card-info #card-info-btn {
    display: block;
    margin-top: 0.7rem;
    background-color: #1d2225;
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
}

/* 顶部导航栏 */
#nav a {
    color: #ffffff;
}

/*页脚a标签字体颜色*/
#footer-wrap a {
    color: #f16a88;
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
.footer_custom_text {
    color: #f16a88;
}


/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
    #aside_content div:not(:last-child) {
        display: none;
        font-size: 13px;
    }
}


/*修改颜色值*/
/*最近文章卡片*/
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background:#FFFFFB;

  }
  
  #aside-content .card-widget {
    background: #FFFFFB
  }
  
  #post,#page,#archive,#tag,#category{
  background: #FFFFFB
  }
  
  /*修改代码下拉箭头颜色  */
  .fa-angle-double-down:before {
      color: white;
  }

#sidebar-menus {
    background: #FFFFFB;
}


